.pres-11-9 {
  display: grid;
  margin: auto;
  aspect-ratio: 11 / 9;
  grid-template-columns: repeat(22, 1fr);
  grid-template-rows: repeat(18, 1fr);
}
.pres-11-9 .col-start-0 {
  grid-column-start: 1;
}
.pres-11-9 .col-end-0 {
  grid-column-end: 1;
}
.pres-11-9 .col-start-1 {
  grid-column-start: 2;
}
.pres-11-9 .col-end-1 {
  grid-column-end: 2;
}
.pres-11-9 .col-start-2 {
  grid-column-start: 3;
}
.pres-11-9 .col-end-2 {
  grid-column-end: 3;
}
.pres-11-9 .col-start-3 {
  grid-column-start: 4;
}
.pres-11-9 .col-end-3 {
  grid-column-end: 4;
}
.pres-11-9 .col-start-4 {
  grid-column-start: 5;
}
.pres-11-9 .col-end-4 {
  grid-column-end: 5;
}
.pres-11-9 .col-start-5 {
  grid-column-start: 6;
}
.pres-11-9 .col-end-5 {
  grid-column-end: 6;
}
.pres-11-9 .col-start-6 {
  grid-column-start: 7;
}
.pres-11-9 .col-end-6 {
  grid-column-end: 7;
}
.pres-11-9 .col-start-7 {
  grid-column-start: 8;
}
.pres-11-9 .col-end-7 {
  grid-column-end: 8;
}
.pres-11-9 .col-start-8 {
  grid-column-start: 9;
}
.pres-11-9 .col-end-8 {
  grid-column-end: 9;
}
.pres-11-9 .col-start-9 {
  grid-column-start: 10;
}
.pres-11-9 .col-end-9 {
  grid-column-end: 10;
}
.pres-11-9 .col-start-10 {
  grid-column-start: 11;
}
.pres-11-9 .col-end-10 {
  grid-column-end: 11;
}
.pres-11-9 .col-start-11 {
  grid-column-start: 12;
}
.pres-11-9 .col-end-11 {
  grid-column-end: 12;
}
.pres-11-9 .col-start-12 {
  grid-column-start: 13;
}
.pres-11-9 .col-end-12 {
  grid-column-end: 13;
}
.pres-11-9 .col-start-13 {
  grid-column-start: 14;
}
.pres-11-9 .col-end-13 {
  grid-column-end: 14;
}
.pres-11-9 .col-start-14 {
  grid-column-start: 15;
}
.pres-11-9 .col-end-14 {
  grid-column-end: 15;
}
.pres-11-9 .col-start-15 {
  grid-column-start: 16;
}
.pres-11-9 .col-end-15 {
  grid-column-end: 16;
}
.pres-11-9 .col-start-16 {
  grid-column-start: 17;
}
.pres-11-9 .col-end-16 {
  grid-column-end: 17;
}
.pres-11-9 .col-start-17 {
  grid-column-start: 18;
}
.pres-11-9 .col-end-17 {
  grid-column-end: 18;
}
.pres-11-9 .col-start-18 {
  grid-column-start: 19;
}
.pres-11-9 .col-end-18 {
  grid-column-end: 19;
}
.pres-11-9 .col-start-19 {
  grid-column-start: 20;
}
.pres-11-9 .col-end-19 {
  grid-column-end: 20;
}
.pres-11-9 .col-start-20 {
  grid-column-start: 21;
}
.pres-11-9 .col-end-20 {
  grid-column-end: 21;
}
.pres-11-9 .col-start-21 {
  grid-column-start: 22;
}
.pres-11-9 .col-end-21 {
  grid-column-end: 22;
}
.pres-11-9 .col-start-22 {
  grid-column-start: 23;
}
.pres-11-9 .col-end-22 {
  grid-column-end: 23;
}
.pres-11-9 .row-start-0 {
  grid-row-start: 1;
}
.pres-11-9 .row-end-0 {
  grid-row-end: 1;
}
.pres-11-9 .row-start-1 {
  grid-row-start: 2;
}
.pres-11-9 .row-end-1 {
  grid-row-end: 2;
}
.pres-11-9 .row-start-2 {
  grid-row-start: 3;
}
.pres-11-9 .row-end-2 {
  grid-row-end: 3;
}
.pres-11-9 .row-start-3 {
  grid-row-start: 4;
}
.pres-11-9 .row-end-3 {
  grid-row-end: 4;
}
.pres-11-9 .row-start-4 {
  grid-row-start: 5;
}
.pres-11-9 .row-end-4 {
  grid-row-end: 5;
}
.pres-11-9 .row-start-5 {
  grid-row-start: 6;
}
.pres-11-9 .row-end-5 {
  grid-row-end: 6;
}
.pres-11-9 .row-start-6 {
  grid-row-start: 7;
}
.pres-11-9 .row-end-6 {
  grid-row-end: 7;
}
.pres-11-9 .row-start-7 {
  grid-row-start: 8;
}
.pres-11-9 .row-end-7 {
  grid-row-end: 8;
}
.pres-11-9 .row-start-8 {
  grid-row-start: 9;
}
.pres-11-9 .row-end-8 {
  grid-row-end: 9;
}
.pres-11-9 .row-start-9 {
  grid-row-start: 10;
}
.pres-11-9 .row-end-9 {
  grid-row-end: 10;
}
.pres-11-9 .row-start-10 {
  grid-row-start: 11;
}
.pres-11-9 .row-end-10 {
  grid-row-end: 11;
}
.pres-11-9 .row-start-11 {
  grid-row-start: 12;
}
.pres-11-9 .row-end-11 {
  grid-row-end: 12;
}
.pres-11-9 .row-start-12 {
  grid-row-start: 13;
}
.pres-11-9 .row-end-12 {
  grid-row-end: 13;
}
.pres-11-9 .row-start-13 {
  grid-row-start: 14;
}
.pres-11-9 .row-end-13 {
  grid-row-end: 14;
}
.pres-11-9 .row-start-14 {
  grid-row-start: 15;
}
.pres-11-9 .row-end-14 {
  grid-row-end: 15;
}
.pres-11-9 .row-start-15 {
  grid-row-start: 16;
}
.pres-11-9 .row-end-15 {
  grid-row-end: 16;
}
.pres-11-9 .row-start-16 {
  grid-row-start: 17;
}
.pres-11-9 .row-end-16 {
  grid-row-end: 17;
}
.pres-11-9 .row-start-17 {
  grid-row-start: 18;
}
.pres-11-9 .row-end-17 {
  grid-row-end: 18;
}
.pres-11-9 .row-start-18 {
  grid-row-start: 19;
}
.pres-11-9 .row-end-18 {
  grid-row-end: 19;
}
.pres-11-9 .shadow-sm {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.pres-11-9 .shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.pres-11-9 .shadow-lg {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
}
.pres-11-9 .z-0 {
  z-index: 0;
}
.pres-11-9 .z-10 {
  z-index: 10;
}
.pres-11-9 .z-20 {
  z-index: 20;
}
.pres-11-9 .z-30 {
  z-index: 30;
}
.pres-11-9 .z-40 {
  z-index: 40;
}
.pres-11-9 .z-50 {
  z-index: 50;
}
.pres-11-9 .titlecard {
  grid-row-start: 2;
  grid-row-end: 18;
  grid-column-start: 2;
  grid-column-end: 22;
}
.pres-11-9 .two-rows-row-one {
  grid-row-start: 2;
  grid-row-end: 18;
  grid-column-start: 2;
  grid-column-end: 10;
}
.pres-11-9 .two-rows-row-two {
  grid-row-start: 2;
  grid-row-end: 18;
  grid-column-start: 12;
  grid-column-start: 23;
}
