@use "sass:list";
@use "sass:math";

.pres-11-9 {
  // Normal aspect ration of 11/9 multiplied by 2
  // primarely for better setting of start, end, etc.
  $aspect_ration_x: 22;
  $aspect_ration_y: 18;

  display: grid;
  margin: auto;
  aspect-ratio: list.slash(11, 9);
  grid-template-columns: repeat($aspect_ration_x, 1fr);
  grid-template-rows: repeat($aspect_ration_y, 1fr);

  @for $i from 0 through $aspect_ration_x {
    .col-start-#{$i} {
      grid-column-start: $i + 1;
    }

    .col-end-#{$i} {
      grid-column-end: $i + 1;
    }
  }

  @for $i from 0 through $aspect_ration_y {
    .row-start-#{$i} {
      grid-row-start: $i + 1;
    }

    .row-end-#{$i} {
      grid-row-end: $i + 1;
    }
  }

  @mixin shadow($size) {
    box-shadow: 0 ($size * 2px) ($size * 4px) 0 rgba(0, 0, 0, 0.2);
  }

  @mixin shadow-generator($selectors...) {
    @for $i from 0 to length($selectors) {
      #{nth($selectors, $i+1)} {
        @include shadow($i + 1);
      }
    }
  }

  @include shadow-generator(".shadow-sm", ".shadow", ".shadow-lg");

  @for $i from 0 through 5 {
    .z-#{$i*10} {
      z-index: $i * 10;
    }
  }

  @mixin slide-row {
    grid-row-start: 2;
    grid-row-end: $aspect_ration_y;
  }

  @mixin slide-col {
    grid-column-start: 2;
    grid-column-end: $aspect_ration_x;
  }

  @mixin slide {
    @include slide-row();
    @include slide-col();
  }

  .titlecard {
    @include slide;
  }

  .two-rows {
    &-row-one {
      @include slide-row();
      grid-column-start: 2;
      grid-column-end: math.div($aspect_ration_x, 2) - 1;
    }

    &-row-two {
      @include slide-row();
      grid-column-start: math.div($aspect_ration_x, 2) + 1;
      grid-column-start: $aspect_ration_x + 1;
    }
  }
}
